html, body {
	height: 100%;
}

body {
	background-color: #D0B3AD;
	margin: 0;
}

div {
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Lucida Console", Monaco, monospace;
	white-space: pre-line;
	font-size: 2em;
}


a {
	text-decoration: none;
	color: black;	
}

img {
	height: 100%;
	width: auto;
}
